@font-face {
    font-family: "Sanchez";
    src: url("../fonts/Sanchez.otf");
}

body {
    background: #f0f0f0;
    text-align: center;
    font-family: Sanchez, Courier, monospace;
}

section {
    padding: 0 !important;
    overflow: hidden;
}

    section h1 {
        font-size: 4em;
        margin: 0.5em;
    }

    section h2 {
        font-weight: bold;
        font-size: 1.5em;
    }

    section small {
        font-size: 0.4em !important;
    }

    section .row {
        margin: 0 0 2em 0;
    }


.section-title {
    /* Fake a dark overlay with a gradient. Black is black... I want my sanity back... */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/epfl_lake.jpg');
    min-height: 100vh;
    color: white;
}

    .section-title h1 {
        font-size: 10em;
        margin: 1.2em 0 0 0;
    }

    .section-title p {
        font-size: 3em;
    }

    .section-title .btn {
        color: #e2001a !important;
        font-size: 2em;
        padding: 0.7em 1em;
    }

        .section-title .btn:hover {
            color: #fff !important;
            border-color: #e2001a;
            background-color: #e2001a;
        }


.section-info {
    background: #e2001a;
    color: #fff;
    font-size: 1.25em;
}

    .section-info .text-container {
        padding: 3em;
    }

    .section-info a {
        color: #fff;
        text-decoration: underline;
    }

        .section-info a:active,
        .section-info a:focus,
        .section-info a:hover {
            color: #000;
        }

.maps-container {
    height: 20em;
    padding: 0;
}

    .maps-container div {
        width: 100%;
        height: 100%;
    }


footer {
    margin-top: 5em;
}
