---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ site.data.info.description_short }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.data.info.name }}">
  <meta property="og:image" content="{{ site.url }}/images/preview.jpg">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{{ site.data.info.description_short }}">

  {% if site.data.info.twitter %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.data.info.twitter }}">
    <meta name="twitter:title" content="{{ site.data.info.name }}">
    <meta name="twitter:image" content="{{ site.url }}/images/preview.jpg">
    <meta name="twitter:description" content="{{ site.data.info.description_short }}">
  {% endif %}

  <title>{{ site.data.info.name }}</title>

  <style>{% include main.css %}</style>

  <link rel="icon" type="image/png" href="images/favicon-16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="images/favicon-32.png" sizes="32x32">
</head>
<body>
  <header class="tone-dark">
    <div>
      <img class="logo"
           src="images/logo.png"
           alt="{{ site.data.info.name }}">
      <p>
        {{ site.data.info.date }}
        <br>
        {{ site.data.info.location }}
      </p>
      {% if site.data.action.text %}
        <p>
          {% if site.data.action.link %}
            <a class="link-action"
               href="{{ site.data.action.link }}"
               target="_blank"
               rel="noreferrer">{{ site.data.action.text }}</a>
          {% else %}
            {{ site.data.action.text }}
          {% endif %}
        </p>
      {% endif %}
      <p>
        Follow us on <a href="https://www.facebook.com/{{ site.data.info.facebook }}"
                        target="_blank"
                        rel="noreferrer">Facebook</a>
        {% if site.data.info.twitter %}
          and <a href="https://twitter.com/{{ site.data.info.twitter }}"
                 target="_blank"
                 rel="noreferrer">Twitter</a>
        {% endif %}
        for updates!
      </p>
    </div>
  </header>
  <section class="tone-dark">
    <div>
      {{ site.data.info.description_long | markdownify }}

      <p>
        Check out the past editions:
        {% for edition in site.data.info.past_editions %}
          <a href="{{ edition[1] }}"
             target="_blank">{{ edition[0] }}</a>
        {% endfor %}
      </p>
    </div>
  </section>
  {% if site.data.schedule %}
  <section>
    <h1>Schedule</h1>
    <div class="items-container">
      {% for part in site.data.schedule %}
        <div class="item-large">
          <h2>{{ part[0] }}</h2>
          <table>
            <thead>
              <tr>
                <td>Time</td>
                <td>Event</td>
              </tr>
            </thead>
            <tbody>
              {% for item in part[1] %}
                <tr>
                  <td>{{ item[0] }}</td>
                  <td>{{ item[1] }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
    </div>
  </section>
  {% endif %}
  <section>
    <h1>F.A.Q.</h1>
    <div class="items-container">
      {% for item in site.data.faq %}
      <div class="item-large">
        <h2 id="{{ item.id }}">{{ item.q }}</h2>
        <p>{{ item.a | markdownify }}</p>
      </div>
      {% endfor %}
    </div>
  </section>
  <section class="section-sponsors">
    <h1>Sponsors</h1>
    <div>
      <p>Interested in sponsoring us? Check out our <a href="/pdf/sponsor.pdf">sponsorship prospectus</a>.</p>
    </div>

    {% for tier in site.data.sponsors %}
      {% if tier.sponsors %}
        <div class="items-container"
             style="background: {{ tier.color }}">
          {% for sponsor in tier.sponsors %}
            {% comment %} Use SVG if available, PNG otherwise {% endcomment %}
            {% assign file_img = 'null' %}
            {% assign file_svg_path = sponsor[0] | prepend: '/images/logos/' | append: '.svg' %}
            {% for file in site.static_files %}
              {% if file.path == file_svg_path %}
                {% assign file_img = file_svg_path %}
              {% endif %}
            {% endfor %}
            {% if file_img == 'null' %}
              {% assign file_img = sponsor[0] | prepend: '/images/logos/' | append: '.png' %}
            {% endif %}

            <div class="item-large">
              <a href="{{ sponsor[1] }}"
                 rel="noreferrer"
                 target="_blank">
                <img src="{{ file_img }}"
                     alt="{{ tier.name }} sponsor - {{ sponsor[1] }}"
                     style="height: {{ tier.size }}vh">
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </section>
  <section class="tone-dark">
    <h1>Committee</h1>
    <div class="items-container">
      {% for staff in site.data.staff %}
        <div class="item-small">
          <a class="staff-link"
             href="{{ staff.link }}"
             target="_blank"
             rel="noreferrer">
              <div class="staff-container">
                <img class="staff-image"
                     src="images/staff/{{ staff.first }}_{{ staff.last }}.jpg"
                     alt="Picture of {{ staff.first }} {{ staff.last }}">
                <div class="staff-info">
                  <span class="staff-first">{{ staff.first }}</span>
                  <br>
                  <span class="staff-last">{{ staff.last }}</span>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <p>
      LauzHack is organized by the LauzHack association, whose legal documents can be viewed <a href="/legal">here</a>.
    </p>
  </section>
</body>
</html>
