/* Font */
@font-face {
  font-family: "Sanchez";
  src: url("../fonts/Sanchez.otf");
}


/* Basic elements */
body {
  background: #f0f0f0;
  text-align: center;
  font-family: Sanchez, Courier, monospace;
  margin: 0;
}

header,
section {
  width: 100%;
  overflow: hidden;
}

section {
  font-size: 1.25em;
  padding: 1.5em 0;
}

header > *,
section > * {
  padding: 0 2vw;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em 0;
}

.item-large {
  flex-grow: 1;
  flex-basis: 26%;
  padding: 0 3.65%;
  min-width: 12em;
}

.item-small {
  flex-grow: 0;
  flex-basis: 17%;
  padding: 0 1.5%;
}

h1 {
  font-size: 3em;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0;
}


/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

thead {
  font-size: 1.3em;
  font-weight: bold;
}

tbody > tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

tbody > tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.02);
}

tr {
  height: 3em;
}


/* Colors */
.tone-dark {
  background: #d42b2e;
  color: #fff;
}

.tone-dark a {
  color: #ddd;
}

.tone-dark a:active,
.tone-dark a:focus,
.tone-dark a:hover {
  color: #fff;
}


/* Header */
header {
  /* Fake a dark overlay with a gradient. Black is black... I want my sanity back... */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background.jpg') !important;
  background-size: cover !important;
  min-height: 100vh;
}

header p {
  font-size: calc(1em + 2vw);
  margin: 4vh 0 0 0;
}

header img {
  max-width: 100%;
  margin: 5em auto 0 auto;
}


/* Action link */
.link-action {
  background: #d42b2e;
  color: #fff;
  padding: 0.1em 0.3em;
  text-decoration: none;
}

.link-action:hover {
  background: #b2252a;
}

.link-action:active {
  background: #902024;
}


/* Staff */
.staff-container {
  display: inline-block;
  margin: 0 0 2em 0;
}

.staff-link .staff-info {
  opacity: 0.7;
}

.staff-link:active .staff-info,
.staff-link:hover  .staff-info {
  opacity: 1;
}

.staff-image {
  width: 10em;
  height: 10em;
}

.staff-info {
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: -0.3em;
  padding: 0.3em 0;
}

.staff-first {
  font-weight: 600;
}

.staff-last {
  opacity: 0.7;
}


/* Newsletter */
.newsletter {
  margin-top: 1em;
}

.newsletter input {
  background: #fff;
  border: 1px solid #999;
  box-sizing: border-box;
  padding: 0.5rem 0.8rem;
}

.newsletter input[type="email"] {
  box-sizing: border-box;
  width: 18rem;
}
.newsletter input[type="submit"]:hover {
  background: #eee;
}
.newsletter input[type="submit"]:active {
  background: #ccc;
}
