---
is_workshops: true
layout: default
---
{% comment %} For date comparisons, see https://stackoverflow.com/a/23025858/3311770 {% endcomment %}
{% capture nowunix %}{{ 'now' | date: '%s' | plus: 0 }}{% endcapture %}
<section class="tone-dark">
  <h1>{{ site.data.workshops.name }}</h1>

  {{ site.data.workshops.description | markdownify }}

  {% if site.data.workshops.calendar %}
    <p>You can add our <a href="{{ site.data.workshops.calendar }}">calendar</a> to know about our events.</p>
  {% endif %}

  <div class="items-container">
    {% for workshop in site.data.workshops.items %}
      {% capture dateunix %}{{ workshop[1].date | date: '%s' | plus: 0 }}{% endcapture %}
      {% if dateunix > nowunix %}
        <div class="item-generic">
          <h2>
            <i>{{ workshop[0] }}</i>
          </h2>
          <p>{{ workshop[1].date | date: '%A %B %-d, %H:%M' }}</p>
          <p>{{ workshop[1].description | markdownify }}</p>
          <a href="{{ workshop[1].signup }}">Register</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
{% assign has_previous = false %}
{% for workshop in site.data.workshops.items %}
  {% capture dateunix %}{{ workshop[1].date | date: '%s' | plus: 0 }}{% endcapture %}
  {% if dateunix <= nowunix %}
    {% assign has_previous = true %}
  {% endif %}
{% endfor %}
{% if has_previous %}
  <section>
    <h1>Previous {{ site.data.workshops.name }}</h1>
    <div class="items-container">
      {% for workshop in site.data.workshops.items %}
        {% capture dateunix %}{{ workshop[1].date | date: '%s' | plus: 0 }}{% endcapture %}
        {% if dateunix <= nowunix %}
          <div class="item-generic">
            <h2>
              <i>{{ workshop[0] }}</i>
            </h2>
            <p>{{ workshop[1].description | markdownify }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
{% endif %}
