
body {
  background-color: #fff;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:400;
}

header {
    text-align: center;
    vertical-align: middle;
    min-height: 100vh;
    background: #000033;
    color:#f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-font-smoothing:subpixel-antialiased;
    -ms-flex-align: center;
    align-items: center;
}

footer {
  background: #000033;
    color:#f2f2f2;
}

.row{
  width:90%;
  margin:0 auto;

}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.wrapper {
  margin:0 auto;
}

section {
  width:500px;
  padding-bottom:50px;
}

small {
  font-size:11px;
}
