
body {
  background-color: #fff;
  font: 14px/1.5 "Noto Sans", "Courier New", Courier, monospace;
  font-weight:400;
}

a {
  color: white;
}

h1{
  font-size:60px;
  font-family: "Courier New", Courier, monospace;
}

.coverbox{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.b{
  background-color: red;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.blackbox{
  background-color: rgba(0, 0, 0, 0.7);
  color: black;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  vertical-align: middle;
  color:#f2f2f2;
  padding-top: 150px;
}