---
title: 2020 Challenges
layout: default
---
{% comment %}this page is rather messy but done quickly...{% endcomment %}
<section style="padding: 1em; text-align: justify; width: 90%">
  <h1>{{ site.data.info.name }} {{ page.title }}</h1>
  {% for challenge in site.data.challenges %}
    <h2 style="font-size: 2em">{{ challenge.name }}</h2>
    <p>{{ challenge.text | markdownify }}</p>
    {% if challenge.link %}<a href="{{ challenge.link }}" target="_blank">More information...</a><br>{% endif %}
    <br><br>
  {% endfor %}
</section>
