---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.data.info.name }}</title>
  {% assign redirect_url = page.redirect_to | default: site.data.info.socials[page.service] %}
  <link rel="canonical" href="{{ redirect_url }}">
  <meta http-equiv="refresh" content="0; url={{ redirect_url }}">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <p>Redirecting to <a href="{{ redirect_url }}">{{ page.service | default: redirect_url }}</a>...</p>
</body>
</html>